/* RadComboBox BMM skin */

/*global*/

.RadComboBox_BMM,
.RadComboBox_BMM .rcbInput,
.RadComboBoxDropDown_BMM
{
	font: 12px  Arial;
	font-weight: normal;
	color: #404040;
	text-align: left;
}

/* combobox */

.RadComboBox_BMM .rcbInputCellLeft,
.RadComboBox_BMM .rcbInputCellRight,
.RadComboBox_BMM .rcbArrowCellLeft,
.RadComboBox_BMM .rcbArrowCellRight
{
	background-image: url('/Images/BMM/Sprites/rcb_BMM_Sprite.png');
	height: 24px;
}

* html .RadComboBox_BMM .rcbInputCellLeft,
* html .RadComboBox_BMM .rcbInputCellRight,
* html .RadComboBox_BMM .rcbArrowCellLeft,
* html .RadComboBox_BMM .rcbArrowCellRight
{
	background-image: url('ComboBox/rcbSpriteIE6.png');
}

.RadComboBox_BMM td.rcbInputCellLeft { background-position: 0 0; }
.RadComboBox_BMM td.rcbInputCellRight { background-position: 100% 0; }

.RadComboBox_BMM .rcbHovered .rcbInputCellLeft { background-position: 0 0; }
.RadComboBox_BMM .rcbHovered .rcbInputCellRight { background-position: 100% 0; }

.RadComboBox_BMM .rcbFocused .rcbInputCellLeft { background-position: 0 0; }
.RadComboBox_BMM .rcbFocused .rcbInputCellRight { background-position: 100% 0; }

.RadComboBox_BMM .rcbHovered .rcbReadOnly td.rcbInputCellLeft { background-position: 0 0x; }
.RadComboBox_BMM .rcbHovered .rcbReadOnly td.rcbInputCellRight { background-position: 100% 0px; }

.RadComboBox_BMM .rcbFocused .rcbReadOnly td.rcbInputCellLeft { background-position: 0 0px; }
.RadComboBox_BMM .rcbFocused .rcbReadOnly td.rcbInputCellRight { background-position: 100% 0px; }

.RadComboBox_BMM .rcbInputCell .rcbEmptyMessage
{
	color: #666;
}

.RadComboBox_BMM .rcbHovered .rcbInputCell .rcbInput
{
	color: #000;
}

.RadComboBox_BMM td.rcbArrowCellLeft { background-position: -0px -0px; }
.RadComboBox_BMM td.rcbArrowCellRight { background-position: 0 -88px; }

.RadComboBox_BMM .rcbHovered .rcbArrowCellLeft { background-position: 0px 0px; }
.RadComboBox_BMM .rcbHovered .rcbArrowCellRight { background-position: 0px -88px; }

.RadComboBox_BMM .rcbFocused .rcbArrowCellLeft { background-position: -0px -0px; }
.RadComboBox_BMM .rcbFocused .rcbArrowCellRight { background-position: -0px -88px; }

.RadComboBox_BMM td.rcbArrowCellHidden,
.RadComboBox_BMM .rcbHovered td.rcbArrowCellHidden,
.RadComboBox_BMM .rcbFocused td.rcbArrowCellHidden { background-position: -0px -88px; }

.RadComboBox_BMM_rtl td.rcbArrowCellHidden,
.RadComboBox_BMM_rtl .rcbHovered td.rcbArrowCellHidden,
.RadComboBox_BMM_rtl .rcbFocused td.rcbArrowCellHidden { background-position: -0px -88px; }

/* Read-only styles */

.RadComboBox_BMM .rcbReadOnly td.rcbArrowCellLeft { background-position: -0px -0px; }
.RadComboBox_BMM .rcbReadOnly td.rcbArrowCellRight { background-position: -0px -88px; }

.RadComboBox_BMM .rcbHovered .rcbReadOnly .rcbArrowCellLeft { background-position: -0px -0px; }
.RadComboBox_BMM .rcbHovered .rcbReadOnly .rcbArrowCellRight { background-position: -0px -88px; }

.RadComboBox_BMM .rcbFocused .rcbReadOnly .rcbArrowCellLeft { background-position: -0px -0px; }
.RadComboBox_BMM .rcbFocused .rcbReadOnly .rcbArrowCellRight { background-position: -0px -88px; }

.RadComboBox_BMM .rcbReadOnly td.rcbArrowCellHidden { background-position: -0px -88px; }
.RadComboBox_BMM .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -0px -88px; }
.RadComboBox_BMM .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -0px -88px; }

.RadComboBox_BMM_rtl .rcbReadOnly td.rcbArrowCellHidden { background-position: -18px -88px; }
.RadComboBox_BMM_rtl .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -54px -88px; }
.RadComboBox_BMM_rtl .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -90px -88px; }

/* dropdown */

.RadComboBoxDropDown_BMM .rcbHeader,
.RadComboBoxDropDown_BMM .rcbFooter,
.RadComboBoxDropDown_BMM .rcbMoreResults,
.RadComboBoxDropDown_BMM .rcbMoreResults a
{
	background-image: url('/Images/BMM/Sprites/rcb_BMM_Sprite.png');
}

* html .RadComboBoxDropDown_BMM .rcbHeader,
* html .RadComboBoxDropDown_BMM .rcbFooter,
* html .RadComboBoxDropDown_BMM .rcbMoreResults,
* html .RadComboBoxDropDown_BMM .rcbMoreResults a
{
	background-image: url('ComboBox/rcbSpriteIE6.png');
}

.RadComboBoxDropDown_BMM
{
	background: #fff;
	border-color: #404040;
	border-top-color: #404040;
}

.RadComboBoxDropDown_BMM .rcbHeader,
.RadComboBoxDropDown_BMM .rcbFooter
{
	background-color: #00693e;
	background-position: 0 -110px;
}

.RadComboBoxDropDown_BMM .rcbHeader
{
	border-bottom-color: #d5d5d5;
}

.RadComboBoxDropDown_BMM .rcbFooter
{
	border-top-color: #d5d5d5;
}

.RadComboBoxDropDown_BMM .rcbItem em
{
	background: #e5e5e5;
}

.RadComboBoxDropDown_BMM .rcbHovered
{
	background: #00693e;
	color: #fefefe;
}

.RadComboBoxDropDown_BMM .rcbHovered em
{
    color: #9AA83A;
}

.RadComboBoxDropDown_BMM .rcbSeparator
{
    color: #fff;
    background: #8a8a8a;
}

.RadComboBox_BMM .rcbDisabled .rcbInputCell .rcbInput,
.RadComboBoxDropDown_BMM .rcbDisabled
{
	color: #404040;
}

.RadComboBox_BMM .rcbDisabled td.rcbInputCellLeft { background-position: 0 -64px; }
.RadComboBox_BMM .rcbDisabled td.rcbInputCellRight { background-position: 100% -64px; }
.RadComboBox_BMM .rcbDisabled td.rcbArrowCellLeft { background-position: -126px -88px; }
.RadComboBox_BMM .rcbDisabled td.rcbArrowCellRight { background-position: -108px -88px; }
.RadComboBox_BMM .rcbDisabled .rcbReadOnly td.rcbArrowCellRight { background-position: -110px -88px; }
.RadComboBox_BMM table.rcbDisabled td.rcbArrowCellHidden,
.RadComboBox_BMM .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden { background-position: -123px -88px; }
.RadComboBox_BMM_rtl table.rcbDisabled td.rcbArrowCellHidden,
.RadComboBox_BMM_rtl .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden { background-position: -126px -88px; }

.RadComboBoxDropDown_BMM .rcbLoading
{
	background: #f0f0f0;
}

.RadComboBoxDropDown_BMM .rcbMoreResults
{
	border-top-color: #c6c7d2;
	background-position: 0 -132px;
	background-color: #e6e6e6;
	color: #8a8a8a;
}

.RadComboBoxDropDown_BMM .rcbMoreResults a
{
	background-position: -157px -94px;
}
