/*Telerik RadGrid Default Skin*/

/*global*/

.RadGrid_BMM
{
   color:#333;
}

.RadGrid_BMM *
{
	font-size: 14px;
	font-weight: normal;
}

.RadGrid_BMM,
.RadGrid_BMM .rgMasterTable,
.RadGrid_BMM .rgDetailTable,
.RadGrid_BMM .rgGroupPanel table,
.RadGrid_BMM .rgCommandRow table,
.RadGrid_BMM .rgEditForm table,
.GridToolTip_BMM
{
    font:12px/16px "segoe ui",arial,sans-serif;
    border-collapse:separate !important;
}

.RadGrid_BMM .rgMasterTable,
.RadGrid_BMM .rgDetailTable
{
    border-collapse:separate;
}

.RadGrid_BMM .rgRow,
.RadGrid_BMM .rgAltRow,
.RadGrid_BMM .rgHeader,
.RadGrid_BMM .rgResizeCol,
.RadGrid_BMM .rgPager,
.RadGrid_BMM .rgGroupPanel,
.RadGrid_BMM .rgGroupHeader
{
	cursor:default;
}

.RadGrid_BMM .rgRow td,
.RadGrid_BMM .rgAltRow td,
.RadGrid_BMM .rgEditRow td,
.RadGrid_BMM .rgFooter td,
.RadGrid_BMM .rgFilterRow td,
.RadGrid_BMM .rgHeader,
.RadGrid_BMM .rgResizeCol,
.RadGrid_BMM .rgGroupHeader td
{
	padding-left:7px;
	padding-right:7px;
}

.RadGrid_BMM .rgAdd,
.RadGrid_BMM .rgRefresh,
.RadGrid_BMM .rgEdit,
.RadGrid_BMM .rgDel,
.RadGrid_BMM .rgFilter,
.RadGrid_BMM .rgPagePrev,
.RadGrid_BMM .rgPageNext,
.RadGrid_BMM .rgPageFirst,
.RadGrid_BMM .rgPageLast,
.RadGrid_BMM .rgExpand,
.RadGrid_BMM .rgCollapse,
.RadGrid_BMM .rgSortAsc,
.RadGrid_BMM .rgSortDesc,
.RadGrid_BMM .rgUpdate,
.RadGrid_BMM .rgCancel
{
	width:16px;
	height:16px;
	border:0;
	margin:0;
	padding:0;
	background-color:transparent;
	background-image:url('Grid/sprite.gif');
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:1px;
	cursor:pointer;
}

.RadGrid_BMM .rgGroupItem input,
.RadGrid_BMM .rgCommandRow img,
.RadGrid_BMM .rgHeader input,
.RadGrid_BMM .rgFilterRow img,
.RadGrid_BMM .rgFilterRow input,
.RadGrid_BMM .rgPager img
{
	vertical-align:middle;
}

/*header*/

.RadGrid_BMM .rgHeaderDiv
{
	/*background:#eee 0 -5900px repeat-x url('Grid/sprite.gif');*/
	background-color:#00693e;
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -6200px;
}

.rgNoScrollImage .rgHeaderDiv
{
	background-image:none;
}

.RadGrid_BMM .rgHeader,
.RadGrid_BMM th.rgResizeCol
{
    border: 0;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#00693e;
	text-align:left;
	
}

.RadGrid_BMM th.rgSorted
{
    border: 0;
	background-color:#00693e;
	background-position:0 -2600px;
}


.RadGrid_BMM .rgHeader:first-child
{
    border-left: 0px;
}

.RadGrid_BMM .rgHeader,
.RadGrid_BMM .rgHeader a
{
 	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold !important;
	color:#fefefe;
	border-color: #312b2a; 
	border-style: none;
	height: 30px;
}

/*rows*/

.RadGrid_BMM .rgRow td,
.RadGrid_BMM .rgAltRow td,
.RadGrid_BMM .rgEditRow td,
.RadGrid_BMM .rgFooter td
{
	border:0;
	border-bottom:0px solid;
	border-right:0px solid;
	padding-top:4px;
	padding-bottom:3px;
	height: 30px;
	color: #404040;
}

.RadGrid_BMM .rgRow td
{
    border-left:0px;
	border-color:#7CB800;
	border-top-width:0px;
	border-bottom-width:0px;
	border-right-width:0px;
	background-color: #f3f1e9;
}

.RadGrid_BMM .rgAltRow
{
	background:#e4dfc8;
	border-right: 1px solid !impoartant;
}

.RadGrid_BMM .rgAltRow td
{
	border-color:#7CB800;
	border-top-width:0px;
	border-bottom-width:0px;
	border-right-width:0px;
}

.RadGrid_BMM .rgRow .rgSorted
{
	border-bottom-color:#7CB800;
	background-color:#f2eee8;
	border-right: 1px solid !important;
    border-right: 1ps solid black;
}

.RadGrid_BMM .rgAltRow .rgSorted
{
	border-bottom-color:#7CB800;
	background-color:#f2eee8;
}

.RadGrid_BMM .rgSelectedRow .rgSorted,
.RadGrid_BMM .rgActiveRow .rgSorted,
.RadGrid_BMM .rgHoveredRow .rgSorted,
.RadGrid_BMM .rgEditRow .rgSorted
{
	background-color:#F7F6F4;
}

.RadGrid_BMM .rgRow a,
.RadGrid_BMM .rgAltRow a,
.RadGrid_BMM .rgEditRow a,
.RadGrid_BMM .rgFooter a,
.RadGrid_BMM .rgEditForm a
{
	color:#404040;
}

.RadGrid_BMM .rgSelectedRow
{
    background:#828282 0 -3900px repeat-x url('Grid/sprite.gif');
    color:#fff;
}
*+html .RadGrid_BMM .rgSelectedRow .rgSorted{background-color:#828282}
* html .RadGrid_BMM .rgSelectedRow .rgSorted{background-color:#828282}

.RadGrid_BMM .rgSelectedRow a
{
	color:#fff;
}

.RadGrid_BMM .rgActiveRow,
.RadGrid_BMM .rgHoveredRow
{
    background:#c5c5c5 0 -2900px repeat-x url('Grid/sprite.gif');
    color:#333;
}
*+html .RadGrid_BMM .rgActiveRow .rgSorted,
*+html .RadGrid_BMM .rgHoveredRow .rgSorted{background-color:#c5c5c5}
* html .RadGrid_BMM .rgActiveRow .rgSorted,
* html .RadGrid_BMM .rgHoveredRow .rgSorted{background-color:#c5c5c5}

.RadGrid_BMM .rgEditRow
{
	background:#fff 0 -4900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_BMM .rgEditRow .rgSorted{background-color:#fff}
* html .RadGrid_BMM .rgEditRow .rgSorted{background-color:#fff}

.RadGrid_BMM .rgActiveRow td,
.RadGrid_BMM .rgActiveRow td.rgSorted,
.RadGrid_BMM .rgHoveredRow td,
.RadGrid_BMM .rgHoveredRow td.rgSorted
{
	border-bottom-color:#9e9e9e;
}

.RadGrid_BMM .rgSelectedRow td,
.RadGrid_BMM .rgSelectedRow td.rgSorted
{
	border-bottom-color:#6c6c6c;
}

/*footer*/

.RadGrid_BMM .rgFooterDiv,
.RadGrid_BMM .rgFooter
{
	background:#00693e;
}

.RadGrid_BMM .rgFooter td
{
	border-top:0px solid #828282;
	border-bottom:0px solid #fff;
}

/*status*/

.RadGrid_BMM .rgPager .rgStatus
{
	width:35px;
	border:0px solid;
	border-color:#828282 #c9c9c9 #eee #c9c9c9;
	border-left:0;
	padding:3px 0 2px;
}

.RadGrid_BMM .rgStatus div
{
	width:24px;
	height:24px;
	overflow:hidden;
	border:0;
	margin:0 auto;
	padding:0;
	background:transparent center center no-repeat url('Grid/loading.gif');
	text-indent:-2222px;
}

/*pager*/

.RadGrid_BMM .rgPager
{
	background: #00693e;
}

.RadGrid_BMM .rgPager td
{
	padding:0;
}

.RadGrid_BMM .rgPager .rgPagerCell
{
	border:0px solid;
	border-color:#828282 #eee #eee;
	border-right:0;
	padding:3px 0 2px;
}

.RadGrid_BMM .rgWrap
{
	float:left;
	padding:0 10px;
	line-height:26px;
	white-space:nowrap;
}

.RadGrid_BMM .rgArrPart1
{
	padding-right:0;
	line-height:22px;
	color: #f3f1e9;
}

.RadGrid_BMM .rgArrPart2 > a,
.RadGrid_BMM .rgArrPart1 > a
{
	color: #f3f1e9 !important;
}

.RadGrid_BMM .rgArrPart2
{
	padding-left:0;
	line-height:22px;
	color: #f3f1e9 !important;
}

.RadGrid_BMM .rgInfoPart
{
	float:right;
	color:#8a8a8a;
	color: #f3f1e9;
}

.RadGrid_BMM .rgInfoPart strong
{
	font-weight:normal;
	color: #f3f1e9;
}

.RadGrid_BMM .rgWrap a img
{
	margin:3px 8px 0;
}

.RadGrid_BMM .rgPageFirst,
.RadGrid_BMM .rgPagePrev,
.RadGrid_BMM .rgPageNext,
.RadGrid_BMM .rgPageLast
{
	width:22px;
	height:24px;
}

.RadGrid_BMM .rgPageFirst
{
	background-position:0 -549px;
}
.RadGrid_BMM .rgPageFirst:hover
{
	background-position:0 -599px;
}
.RadGrid_BMM .rgPagePrev
{
	background-position:0 -699px;
}
.RadGrid_BMM .rgPagePrev:hover
{
	background-position:0 -749px;
}
.RadGrid_BMM .rgPageNext
{
	background-position:0 -849px;
}
.RadGrid_BMM .rgPageNext:hover
{
	background-position:0 -899px;
}
.RadGrid_BMM .rgPageLast
{
	background-position:0 -999px;
}
.RadGrid_BMM .rgPageLast:hover
{
	background-position:0 -1049px;
}

.RadGrid_BMM .rgPagerButton
{
	height:22px;
	border:0px solid;
	border-color:#d0d0d0 #aeaeae #8b8b8b;
	margin:0 14px 0 0;
	padding:0 4px 2px;
	background:#e8e8e8 repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#000;
	font:12px/12px "segoe ui",arial,sans-serif;
	vertical-align:middle;
	cursor:pointer;
}

.RadGrid_BMM .rgNumPart
{
	padding:2px 0;
	color: #f3f1e9;
}

.RadGrid_BMM .NumericPages .rgNumPart
{
	padding:2px 10px;
	color: #f3f1e9;
}

.RadGrid_BMM .rgNumPart a:hover,
.RadGrid_BMM .rgNumPart a:hover span,
.RadGrid_BMM .rgNumPart a.rgCurrentPage,
.RadGrid_BMM .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadGrid_BMM .rgNumPart a
{
	float:left;
	line-height:22px;
	margin:0;
	padding:0 5px 0 0;
	color: #f3f1e9;
	text-decoration: none;
}

.RadGrid_BMM .rgNumPart span
{
	float:left;
	padding:0 0 0 5px;
	color: #f3f1e9;
}

.RadGrid_BMM .rgNumPart a:hover
{
	background-position:100% -1250px;
}

.RadGrid_BMM .rgNumPart a:hover span
{
	background-position:0 -1150px;
	cursor:pointer;
}

.RadGrid_BMM .rgNumPart a.rgCurrentPage,
.RadGrid_BMM .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
	cursor:default;
}

.RadGrid_BMM .rgNumPart a.rgCurrentPage span,
.RadGrid_BMM .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
	cursor:default;
}

.RadGrid_BMM .NextPrevNumericAndAdvanced .rgAdvPart
{
	float:none;
	text-align:center;
}

.RadGrid_BMM .rgPager .RadSlider
{
	float:left;
	margin:2px 10px 0 0;
}

.RadGrid_BMM .rgPagerLabel,
.RadGrid_BMM .rgPager .RadComboBox,
.RadGrid_BMM .rgPager .RadInput_BMM
{
	margin:0 4px 0 0;
	vertical-align:middle;
}

.RadGrid_BMM .rgPager .RadComboBox
{
	margin-top:-1px;
}
*+html .RadGrid_BMM .rgPager .RadComboBox{margin-top:-2px;}
* html .RadGrid_BMM .rgPager .RadComboBox{margin-top:-2px;}

.RadGrid_BMM .rgPagerTextBox
{
	text-align:center;
}

/*sorting, reordering*/

.RadGrid_BMM .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_BMM .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_BMM,
.GridReorderBottom_BMM
{
	width:9px !important;
	height:9px !important;
	margin-left:-5px;
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_BMM
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_BMM .rgFilterRow
{
	background:#eee;
}

.RadGrid_BMM .rgFilterRow td
{
    border-bottom:1px solid #828282;
    padding-top:4px;
    padding-bottom:7px;
}

.RadGrid_BMM .rgFilter
{
	width:22px;
	height:22px;
	margin:0 0 0 2px;
	background-position:0 -300px;
}

.RadGrid_BMM .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_BMM .rgFilterActive,
.RadGrid_BMM .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_BMM .rgFilterBox
{
	border:1px solid;
	border-color:#8e8e8e #c9c9c9 #c9c9c9 #8e8e8e;
	padding:2px 1px 3px;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
	vertical-align:middle;
}

/*grouping*/

.RadGrid_BMM .rgGroupPanel
{
	height:24px;
	border:0;
	border-bottom:1px solid #828282;
	background:#eee 0 -1900px repeat-x url('Grid/sprite.gif');
}

.RadGrid_BMM .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
}

.RadGrid_BMM .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_BMM .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_BMM .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_BMM .rgGroupItem
{
	border:1px solid;
	border-color:#c4c4c4 #c4c4c4 #9e9e9e;
	padding:0 2px 1px 3px;
	background:#c6c6c6 0 -6500px repeat-x url('Grid/sprite.gif');
	line-height:20px;
	font-weight:normal;
	vertical-align:middle;
}

.RadGrid_BMM .rgMasterTable td.rgGroupCol,
.RadGrid_BMM .rgMasterTable td.rgExpandCol
{
	border-color:#d9d9d9;
	background:#d9d9d9 none;
}

.RadGrid_BMM .rgGroupHeader
{
    background:#d9d9d9;
    font-size:1.1em;
    line-height:21px;
	color:#000;
}

.RadGrid_BMM .rgGroupHeader td
{
	border-top:1px solid #828282;
	border-bottom:1px solid #d9d9d9;
	padding-top:0;
	padding-bottom:0;
}

.RadGrid_BMM .rgGroupHeader td.rgGroupCol
{
	border-top-color:#828282;
}

.RadGrid_BMM .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_BMM .rgCollapse
{
	background-position:3px -444px;
}

.RadGrid_BMM .rgGroupHeader td p
{
    display:inline;
    margin:0;
    padding:0 10px;
}

.RadGrid_BMM .rgGroupHeader td div div
{
	top:-0.8em;
	padding:0 10px;
}

.RadGrid_BMM .rgGroupHeader td div div div
{
	top:0;
	padding:0;
	border:0;
}

/*editing*/

.RadGrid_BMM .rgEditForm
{
	border-bottom:1px solid #828282;
}

.RadGrid_BMM .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_BMM .rgCancel
{
	background-position:2px -1848px;
}

/*hierarchy*/

.RadGrid_BMM .rgDetailTable
{
	border:0px solid #828282;
	border-right:0;
}

/*command row*/

.RadGrid_BMM .rgCommandRow
{
	background:#c5c5c5 0 -2099px repeat-x url('Grid/sprite.gif');
	color:#000;
}

.RadGrid_BMM .rgCommandRow td
{
	border:0px solid;
	border-color:#999 #f2f2f2;
	border-top:0;
	padding:0;
}

.RadGrid_BMM tfoot .rgCommandRow td
{
	border-top:0px solid;
	border-bottom:0;
}

.RadGrid_BMM tr.rgCommandRow td td
{
	border:0;
	padding:3px 7px 4px;
}

.RadGrid_BMM tr.rgCommandRow td td td
{
	padding:1px;
}

.RadGrid_BMM .rgCommandRow table
{
	border:0;
	border-top:1px solid #fdfdfd;
	border-bottom:1px solid #e7e7e7;
}

.RadGrid_BMM .rgCommandRow table table
{
	border:0;
}

.RadGrid_BMM .rgCommandRow a
{
	color:#000;
	text-decoration:none;
}

.RadGrid_BMM .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_BMM .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_BMM .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_BMM .rgDel
{
	background-position:0 -1750px;
}

/*multirow select*/

.GridRowSelector_BMM
{
	background:#4c4e54;
}

/*row drag n drop*/

.GridItemDropIndicator_BMM
{
    border-top:0px dashed #666;
}

/*tooltip*/

.GridToolTip_BMM
{
	border:0px solid #828282;
	padding:3px;
	background:#fff;
	color:#333;
}

/*rtl*/

.RadGridRTL_BMM .rgHeader,
.RadGridRTL_BMM .rgResizeCol
{
	text-align:right;
}

.RadGridRTL_BMM .rgPager .rgStatus
{
	border-right:0;
	border-left-width:1px;
}

.RadGridRTL_BMM .rgWrap
{
	float:right;
}

.RadGridRTL_BMM .rgInfoPart
{
	float:left;
}

.RadGridRTL_BMM .rgNumPart
{
	width:220px;
}

.RadGridRTL_BMM .rgNumPart a
{
	float:right;	
	text-decoration: underline;
}