<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BMM_DAL.Properties.Settings.BMM2ConnectionString" connectionString="Data Source=.\SQL2019;Initial Catalog=DMA-Dev-GG;Persist Security Info=True;User ID=AppUser;Password=Time2Run" providerName="System.Data.SqlClient"/>
        <add name="BMM_DAL.Properties.Settings.BMMConnectionString" connectionString="Data Source=10.73.77.199;Initial Catalog=BMM;Persist Security Info=True;User ID=sa;Password=INF8902#" providerName="System.Data.SqlClient"/>
        <add name="BMM_DAL.Properties.Settings.BMMConnectionString1" connectionString="Data Source=dev-sql08;Initial Catalog=BMM;Persist Security Info=True;User ID=sa;Password=INF8902#" providerName="System.Data.SqlClient"/>
        <add name="BMM_DAL.Properties.Settings.BMMConnectionString2" connectionString="Data Source=dev-sql08;Initial Catalog=BMM;User ID=sa;Password=INF8902#" providerName="System.Data.SqlClient"/>
        <add name="BMM_DAL.Properties.Settings.BMM_MainConnectionString" connectionString="Data Source=.\SQL2019;Initial Catalog=DMA-Dev-GG;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
